td.col-riskCategory-nr {
    background-color: lightgray;
}

td.col-riskCategory-nk {
    background-color: lightgreen;
}

td.col-riskCategory-lo {
    background-color: lightyellow;
}

td.col-riskCategory-ph {
    background-color: yellow;
}

td.col-riskCategory-hi {
    background-color: orange;
}

td.col-riskCategory-se {
    background-color: red;
}
